.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: honeydew;
}

.header img {
    width: 350px;
}

.header-text {
    margin: auto;

}

.header-text h1 {
    font-size: 50px;
    font-weight: bold;
}

.header-text p {
    font-size: 20px;
}