.option-level {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 540px;
    display: flex;
    justify-content: center;
    color: black;



}



.btn-option {
    border: 2px solid darkcyan;
    margin: 30px;
    padding: 40px;

    border-radius: 20px;
    text-align: justify;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;

}

.btn-option:hover {
    background-color: darkcyan;


}

@media screen and (min-width: 577px) and (max-width: 992px) {}