.option-level {

    font-size: 20px;
    font-weight: bold;
    width: 540px;
    display: flex;
    justify-content: center;
    color: black;



}



.btn-option {
    border: 2px solid darkcyan;

    padding: 40px;

    border-radius: 20px;
    text-align: justify;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;

}

.btn-option:hover {
    background-color: darkcyan;


}

@media screen and (max-width: 576px) {
    .option-level {
        margin-left: 0px;

        width: 240px;





    }

    .btn-option {
        border: 2px solid darkcyan;
        margin-top: 30px;
        padding: 50px;







    }

}